<div class="content" [class.leaving]="leaving">
  <div class="text" [innerHTML]="text.html"><app-wait></app-wait></div>
  <audio #player
         preload="auto"
         (play)="playing = true"
         (pause)="playing = false"
         (ended)="playing = false">
    <p i18n>Audio not supported. Please try with a different browser.</p>
  </audio>
</div>
<div class="controls" [class.leaving]="leaving">
  <button (click)="play()" [disabled]="playing" appAutofocus>
    <label><span i18n="sound-check-button">Play</span> 🔊</label>
  </button>
  <button (click)="next()" [disabled]="leaving">
    <label><span i18n="sound-check-button">Next</span> ▷</label>
  </button>
</div>
