<h2>Users</h2>

<div class="list user-list">
  <div class="item user-item add-new">
    <span class="user" title="User ID"><legend>User ID</legend>
      <input #user
             type="text"
             placeholder="User ID" />
    </span>
    <span class="email" title="Email address"><legend>Email</legend>
      <input #email
             type="email"
             placeholder="Email" />
    </span>
    <span class="password" title="Password"><legend>Password</legend>
      <input #password
             type="password"
             placeholder="Change password">
    </span>
    <span class="reset-password" title="Password"><legend>Reset</legend>
      <label>
        <input #reset_password
               type="checkbox"
               title="Required to change password next time they log in?" />
        Reset
      </label>
    </span>
    <span class="buttons">
      <button (click)="createUser(user.value, email.value, reset_password.checked, password.value); user.value = email.value = password.value = '';"
              title="Add a new user">➕</button>
    </span>
  </div>
  <app-wait *ngIf="!users"></app-wait>
  <div class="item user-item" *ngFor="let user of users">
    <span class="user" title="User ID"> {{user.user}} </span>
    <span class="email" title="Email address"><legend>Email</legend>
      <input type="email"
             [(ngModel)]="user.email" (input)="onChange(user)"
             placeholder="Email"/>
    </span>
    <span class="password" title="Change Password"><legend>Change Password</legend>
      <input type="password"
             [(ngModel)]="user.password" (input)="onChange(user)"
             placeholder="Change Password"/>
    </span>
    <span class="reset-password" title="Required to change password next time they log in?"><legend>Reset</legend>
      <input type="checkbox"
             [(ngModel)]="user.reset_password" [ngModelOptions]="{standalone: true}"
             (input)="onChange(user)"/>
    </span>
    <span class="buttons">
      <button (click)="deleteUser(user);" title="Delete this user">➖</button>
    </span>
  </div>
</div>
<div class="buttons">
  <button (click)="updateChangedUsers();"
          *ngIf="changed"
          title="Save all changed users">💾</button>
</div>
