
/* general look and feel */
body {
    margin: 0px;
    font-family:'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size:12pt;
    height:100%;
    width:100%;
}
h1 { font-size: 17pt; color:#859044; }
h2 { font-size: 16pt; color:#859044; }
h3 { font-size: 15pt; color:#859044; font-style:italic; }
h4 { font-size: 14pt; color:#859044; }
h5 { font-size: 13pt; color:#859044; }
h6 { font-size: 12pt; color:#859044; }

app-message > div.error {
    position: fixed;
    width: 100%;
    font-size: 4vh;
    text-align: center;
    z-index: 10;
    height: 100%;
    background: silver;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
app-message > div.error div.heading {
    font-weight: bold;
}
app-message > div.error div.message {
    color:#859044;
    background: black;
    margin-left: auto;
    margin-right: auto;
}
app-message > div.error div {
    padding: 3vh;
}
/* app layout */

div.controls { /* buttons always locked to the bottom of the screen */
    width: 100vw;
    text-align: center;
    left: 0px;
}
header {
    height: 5vh;
    text-align: center;
    color:#859044;
    font-size: 11pt;
}
app-text, app-field, app-test, app-sound-check {
    height: 95vh;
    margin: auto;
    max-width: 800px; /* around 75 characters per line, for readability */
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

@keyframes entering {
    from { left: 50vw; opacity: 0; }
    to   { left: 0vw; opacity: 1; }
}
@keyframes leaving {
    0% { left: 0vw; opacity: 1; }
    15%   { left: -50vw; opacity: 0; }
    100%   { left: -50vw; opacity: 0; } /* stay hidden for a while in case of long request */
}
app-text, app-field, app-test, app-sound-check {
    position: relative; 
    animation-name: entering;
    animation-duration: 750ms;
}
.leaving {
    position: relative; 
    animation-name: leaving;
    animation-duration: 3000ms;
}

.content {
    flex-grow: 1;
    overflow: auto;
}
.dtt {
    height: 100%;
    width: 95vw;
}
.dtt-help {
    margin-left: 5vw;
    margin-right: 5vw;
    overflow: scroll;
}
div.text {
    margin: 3vw;
}
div.results {
    max-height: fit-content; /* no button on results page */
}
app-field > div, app-field h1 {
    text-align: center;
}
button {
    height: 10vh;
    min-height: 50px;
    min-width: 100px;
    font-size: 14pt;
    vertical-align: middle;
    white-space: nowrap;
}
app-wait {
    display: block;
    width: 100%;
    text-align: center;
}
div.wait {
    width: 100vw;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

input {
    font-size: 20pt;
    max-width: 90vw;
}

.dtt-command label {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.controls button label {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.controls button label .icon {
    padding: 5px;
}
/* Layout on wider screens */
@media all and (min-width: 640px) {
    div.controls { /* buttons flow after previous content */
        width: auto;
        position: inherit;
        padding: 5px;
    }
    div.text {
        max-height: fit-content; /* don't need to restrict height, as buttons are always below */
    }
    
    button {
        height: auto;
    }
    div.text {
        overflow: unset;
    }
    header {
        height: 10vh;
        font-size: 14pt;
    }
    app-text, app-field, app-test, app-sound-check {
        height: unset;
    }
    .content {
        flex-grow: unset;
        overflow: unset;
    }
    input {
        font-size: 14pt;
    }
}

/* mobile browsers */
@media all and (max-width: 640px) {
    app-text, app-field, app-test, app-sound-check {
        height: 80vh; /* stop buttons disappearing below screen edges */
    }
}
/* iOS devices */
@supports (-webkit-touch-callout: none) { /* CSS specific to iOS devices */ 
    app-text, app-field, app-test, app-sound-check {
        height: 77vh; /* stop buttons disappearing below screen edges */
    }
}

/* very small devices */
@media all and (max-width: 320px) {
    table.dtt label span.text {
        display: none;
    }
    button {
        font-size: 12pt;
    }
}
