<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <security-role><role-name>admin</role-name></security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>LaBB-CAT - Admin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint><role-name>admin</role-name></auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Digit Triplets Test</realm-name>
  </login-config>

  <context-param>
    <param-name>Content-Security-Policy</param-name>
    <param-value>default-src 'self'; media-src 'self' blob: data:; style-src 'unsafe-inline' 'self'; form-action 'none';</param-value>
  </context-param>
  <!-- use empty value for Strict-Transport-Security to allow http connections  -->
  <context-param>
    <param-name>Strict-Transport-Security</param-name>
    <param-value>max-age=63072000</param-value>
  </context-param>
  <!-- ensure that the session cookie has the 'secure' attribute, so it's send over TLS only -->
  <session-config>
    <cookie-config>
      <secure>true</secure>
    </cookie-config>
  </session-config>
</web-app>
