<ul>
  <li><a [routerLink]="['/fields']"
         title="Define meta-data the participant is asked for before they begin">Fields</a></li>
  <li><a [routerLink]="['/texts']"
         title="Define prompts and informational messages the participant is shown">Texts</a></li>
  <li><a [routerLink]="['/trialsets']"
         title="Sets of digit trialss that can be presented together in a test">Trial Sets</a></li>
  <li><a [routerLink]="['/instances']"
         title="Instances of a test run by a participant">Instances</a></li>
  <li><a [routerLink]="['/attributes']"
         title="Set test parameters">Parameters</a></li>
  <li><a [routerLink]="['/users']"
         title="Maintain administration users that are allowed to log in here">Users</a></li>
  <li><a href="upgrade" target="upgrade"
         title="Upgrade the server by uploading a .war file"
         >Upgrade</a></li>
</ul>
