<h2>Fields</h2>
<p>These are meta-data fields that the participant is asked to provide values for before they begin.</p>
<div class="list field-list">
  <div class="item field-item add-new">
    <span class="field" title="Field ID - the participant does not see this."><legend>ID</legend>
      <input #field
             type="text" required
             placeholder="Field ID" />
    </span>
    <span class="name" title="Label - the participant can see this."><legend>Label</legend>
      <input #name
             type="text"
             placeholder="Label" />
    </span>
    <span class="description" title="Description - the participant can see this."><legend>Description</legend>
      <input #description
             type="text"
             placeholder="Description" />
    </span>
    <span class="type" title="Type of data"><legend>Type</legend>
      <select #type>
        <option>Type
        <option value="string">Short Text
        <option value="text">Long Text
        <option value="number">Number
        <option value="email">Email
        <option value="select">Choose
      </select>
    </span>
    <span class="display-order" title="Order the fields are listed in"><legend>Order</legend>
      <input #display_order
             type="number"
             placeholder="Order">
    </span>
    <span class="required" title="Whether entry is compulsory or optional"><legend>Required</legend>
      <label>
        <input #required
               type="checkbox"
               title="Required" />
        Required
      </label>
    </span>
    <span class="buttons">
      <button (click)="createField(field.value, name.value, description.value, type.value, required.checked, display_order.value); field.value = name.value = description.value = type.value = display_order.value = '';"
              title="Add new field">➕</button>
    </span>
  </div>
  
  <app-wait *ngIf="!fields"></app-wait>
  <div class="item field-item" *ngFor="let field of fields">
    <span class="field" title="Field ID"> {{field.field}} </span>
    <span class="name" title="Field label"><legend>Label</legend>
      <input #name type="text"
             [(ngModel)]="field.name" (input)="onChange(field)"
             required 
             placeholder="Label - the participant can see this." />
    </span>
    <span class="description" title="Description"><legend>Description</legend>
      <input #description type="text"
             [(ngModel)]="field.description" (input)="onChange(field)"
             placeholder="Description - the participant can see this." />
    </span>
    <span class="type" title="Type of data"><legend>Type</legend>
      <select #type
              [(ngModel)]="field.type" (input)="onChange(field)">
        <option value="string">Short Text
        <option value="text">Long Text
        <option value="number">Number
        <option value="email">Email
        <option value="select">Choose
      </select>
    </span>
    <span class="display-order" title="Order the fields are listed in"><legend>Order</legend>
      <input #display_order type="number"
             [(ngModel)]="field.display_order" (input)="onChange(field)"
             placeholder="Order" />
    </span>
    <span class="required" title="Whether entry is compulsory or optional"><legend>Required</legend>
      <input #required type="checkbox"
             [(ngModel)]="field.required" (input)="onChange(field)"
             [ngModelOptions]="{standalone: true}"/>
    </span>
    <span class="options">
      <app-options [field]="field" (change)="onChange(field)"></app-options>
    </span>
    <span class="buttons">
      <button (click)="deleteField(field);" title="Delete this field">➖</button>
    </span>
  </div>
</div>
<div class="buttons">
  <button (click)="updateChangedFields();"
          *ngIf="changed"
          title="Save all changed fields">💾</button>
</div>
