<h1>Change </h1>

<div class="list">
  <div class="item">
    <label> New Password </label>
    <span class="value"><legend>New Password</legend>
      <input type="password"
             [(ngModel)]="password"
             (keyup)="checkForm()"
             (keyup.enter)="btn.click()"
             required
             placeholder="Enter your new password">
    </span>
  </div>
  <div class="item">
    <label> Repeat Password </label>
    <span class="value"><legend>Repeat Password</legend>
      <input type="password"
             [(ngModel)]="repeatPassword"
             (keyup)="checkForm()"
             (keyup.enter)="btn.click()"
             required
             placeholder="Enter your password again">
    </span>
  </div>
</div>
<div class="buttons">
  <button #btn
          (click)="setPassword();"
          [disabled]="!canSave"
          title="Change your password">💾</button>
</div>
