/* Layout */
app-root, #main { display: flex; flex-direction: column; }
article, nav, aside { order: 0; }
article { flex: 3 1 60%; min-height: 100px; }
nav { flex: 1 6 20%; }
aside { flex: 1 6 10%; min-height: 100px; }
header, footer { min-height: 50px; }
/* Layout on wider screens - 3 columns */
@media all and (min-width: 640px) {
    #main { flex-direction: row; }
    article { order: 2; }
    nav { order: 1; }
    aside { order: 3; }
    header, footer { min-height: 100px; }
}

/* Look/feel */
article {
    margin: 4px;
    padding: 5px;
}

header {
    text-align: center;
}
footer {
    text-align: center;
    font-size: 10pt;
}

/* lists of things */

.list .item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.list .item:not(:first-child) {
    border-top: 1px dashed silver;
}
.list .item span {
    display: block;
    padding-left: 10px;
    white-space: nowrap;
}
.list .item span legend {
    font-size: 10pt;
}
.list .item .buttons button {
    margin-left: 5px;
}
.list .item span:first-child {
    padding-left: 5px;
}
.list .item span input {
    width: 90%;
}
/* Layout on wider screens */
@media all and (min-width: 640px) {
    nav { min-height: 100px; }
    .list { display: table; }
    .list .item {
        display: table-row;
        border-top: none;
        padding-bottom: 0px;
    }
    .list .item span { display: table-cell; }
    .list .item span legend { display: none; }
}

