/* Layout */
app-root, #main { display: flex; flex-direction: column; }
article, nav, aside { order: 0; }
nav, aside, header, footer { min-height: 50px; }
article { flex: 3 1 60%; min-height: 100px; }
nav { flex: 1 6 20%; min-height: 100px; }
aside { flex: 1 6 20%; min-height: 100px; }
header, footer { min-height: 50px; }
/* Layout on wider screens - 3 columns */
@media all and (min-width: 640px) {
    #main { flex-direction: row; }
    article { order: 2; }
    nav { order: 1; }
    aside { order: 3; }
    header, footer { min-height: 100px; }
}

/* Look/feel */
article {
    margin: 4px;
    padding: 5px;
}

header {
    text-align: center;
}
footer {
    text-align: center;
    font-size: 10pt;
}

/* lists of things */

.list .item {
    display: flex;
    flex-direction: column;
}
.list .item span {
    display: block;
    padding-left: 10px;
    white-space: nowrap;
}
.list .item button {
    margin-left: 15px;
}
.list .item span:first-child {
    padding-left: 5px;
}
.list .item span input {
    width: 85%;
}
/* Layout on wider screens */
@media all and (min-width: 640px) {
    .list .item {
        flex-direction: row;
    }
    .list .item span {
        width: 30%;
        padding-left: 10px;
    }
}

