<h1>Digit Triplets Hearing Screening Test</h1>

<p>&hellip; was developed at the
  <a href="https://www.canterbury.ac.nz/nzilbb/" target="NZILBB">
    New Zealand Institute of Language, Brain and Behaviour</a>
</p>
<p>&hellip; and is free software distributed under the terms of the <!-- TODO i18n -->
  <a href="https://github.com/nzilbb/digit-triplets-test/blob/master/LICENSE" target="github">
    GNU Affero General Public Licence</a>;
  The source code is available
  <a href="https://github.com/nzilbb/digit-triplets-test" target="github">here</a>
</p>

<p>See also:</p>
<ul>
  <li>
    <a target="NZILBB"
       href="https://ir.canterbury.ac.nz/bitstream/handle/10092/8084/thesis_fulltext.pdf">
      Sharon M. King,
      <i>Development and Evaluation of a New Zealand Digit Triplet Test for Auditory Screening</i>
    </a>,
  </li>
  <li>
    <a target="NZILBB"
       href="https://ir.canterbury.ac.nz/bitstream/handle/10092/8084/thesis_fulltext.pdf">
      Alice Bowden,
      <i>Normalisation, Evaluation and Verification  of the New Zealand Digit Triplet Test</i>
    </a>, and
  </li>
  <li>
    <a target="NZILBB"
       href="https://ir.canterbury.ac.nz/bitstream/handle/10092/7132/CMurray_MAudThesis.pdf;sequence=1">
      Christa Murray,
      <i>Development of a Māori Language Version of the New Zealand Hearing Screening Test</i>
    </a>
  </li>
</ul>

