<audio #player
       preload="auto"
       autoplay
       (loadstart)="playing = true"
       (canplay)="wait = false"
       (play)="playing = true"
       (pause)="playing = false"
       (ended)="playing = false; startTimeout();"
       (onloadedmetadata)="onAudioError"
       >
  <p i18n>Audio not supported. Please try with a different browser.</p>
</audio>    
<div class="dtt" onselectstart="return false;" >
  <div class="dtt-input">
    <label #input> {{answer}} </label>
  </div>
  <div class="dtt-progress">
    <progress #progress
              value="{{trial}}"
              max="{{numTrials}}"
              i18n-title title="How far through the test you are">
      <span id="soFar">{{trial}}</span>/<span id="numTrials">{{numTrials}}</span>
    </progress>
  </div>
  
  <div class="dtt-button"><button #btn1 (click)="press('1')" accesskey="1"><label i18n="digit-button">1</label></button></div>
  <div class="dtt-button"><button #btn2 (click)="press('2')" accesskey="2"><label i18n="digit-button">2</label></button></div>
  <div class="dtt-button"><button #btn3 (click)="press('3')" accesskey="3"><label i18n="digit-button">3</label></button></div>

  <div class="dtt-button"><button #btn4 (click)="press('4')" accesskey="4"><label i18n="digit-button">4</label></button></div>
  <div class="dtt-button"><button #btn5 (click)="press('5')" accesskey="5"><label i18n="digit-button">5</label></button></div>
  <div class="dtt-button"><button #btn6 (click)="press('6')" accesskey="6"><label i18n="digit-button">6</label></button></div>

  <div class="dtt-button"><button #btn7 (click)="press('7')" accesskey="7"><label i18n="digit-button">7</label></button></div>
  <div class="dtt-button"><button #btn8 (click)="press('8')" accesskey="8"><label i18n="digit-button">8</label></button></div>
  <div class="dtt-button"><button #btn9 (click)="press('9')" accesskey="9"><label i18n="digit-button">9</label></button></div>

  <div class="dtt-button" id="dtt-zero"><button #btn0 (click)="press('0');" accesskey="0"><label i18n="digit-button">0</label></button></div>
  <div class="dtt-command" id="dtt-clear">
    <button #btnc
            (click)="press('c')"
            [disabled]="answer.length == 0"
            i18n-title title="Clear all digits entered">
      <label><span class="icon">❌</span>&nbsp;<span class="text" i18n="digit-triplets-test">Clear</span></label>
    </button>
  </div>

  <div class="dtt-command" id="dtt-next">
    <button #btnn
            *ngIf="!wait"
            (click)="press('n');"
            [disabled]="playing || answer.length < 3"
            i18n-title title="Go to the next step">
      <label><span class="text" i18n="digit-triplets-test">Next</span>&nbsp;<span class="icon">▷</span></label>
    </button>
    <app-wait *ngIf="wait"></app-wait>
  </div>
</div>
<div class="dtt-help" [innerHTML]="helpText"></div>
