table.dtt {
    width: 100%;
    min-width: 200px;
    margin: auto;
}
table.dtt td {
    text-align: center;
    vertical-align: middle;
}

table.dtt thead {
    height: 50px;
    font-weight: bold;
    font-size: 14pt;
}
.dtt-input {
    height: 20vh;
}
.dtt-input label {
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: 20px;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    border: none;
    caret-color: transparent;
}
td.dtt-button, td.dtt-command {
    width: 33%;
}
button label {
    font-weight: bold;
    white-space: nowrap;
}
td.dtt-button button label {
    font-size: 18pt;
}

td.dtt-button button, td.dtt-command button {
    width: 100%;
    height: 100%;
}

progress {
    width: 100%;
}


/* for wider screens */

/* Layout on wider screens */
@media all and (min-width: 640px) {
    table.dtt {
        max-width: 400px;
        height: 300px;
    }
    tr {
        height: 50px;
    }
    .dtt-input {
        height: 50px;
    }
    td.dtt-button, td.dtt-command {
        height: 50px;
    }
}
