.dtt {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    margin: auto;
    display: grid;
    grid-gap: 3px;
    /* 6 columns - each digit occupies 2 columns, and each command button occupies 3 */
    /* i.e. digits: three per row, commands two per row */
    grid-template-columns: repeat(6, auto); 
}
.dtt > div {
    text-align: center;
}

.dtt .dtt-input, .dtt .dtt-progress {
    font-weight: bold;
    font-size: 14pt;
    grid-column: span 6;
}
.dtt-input {
    height: 20vh;
}
.dtt-input label {
    font-size: 24pt;
    font-weight: bold;
    letter-spacing: 20px;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    padding: 0px;
    border: none;
    caret-color: transparent;
}
.dtt-button {
    grid-column: span 2;
}
.dtt-command {
    grid-column: span 3;
}
#dtt-zero { /* zero is alone in the middle of its row*/
    grid-column-start: 3;
    grid-column-end: 5;
}
button label {
    font-weight: bold;
    white-space: nowrap;
}
.dtt-button button label {
    font-size: 18pt;
}

.dtt-button button, .dtt-command button {
    width: 100%;
    height: 100%;
}

progress {
    width: 100%;
}


/* for wider screens */

/* Layout on wider screens */
@media all and (min-width: 640px) {
    table.dtt {
        max-width: 400px;
        height: 300px;
    }
    tr {
        height: 50px;
    }
    .dtt-input {
        height: 50px;
    }
    td.dtt-button, td.dtt-command {
        height: 50px;
    }
}
