<div class="text {{text.id}}" [class.results]="results" [innerHTML]="text.html"><app-wait></app-wait></div>
<div *ngIf="text2" class="text {{text2.id}}" [class.results]="results" [innerHTML]="text2.html"><app-wait></app-wait></div>
<div class="controls" *ngIf="canContinue"><button (click)="next()" appAutofocus>Continue ▷</button></div>
<div class="mode controls" *ngIf="text.id === 'introduction'">
  <div class="mode-option">
    <button (click)="start('l')" appAutofocus>
      <label>I have plugged in headphones 🎧</label><!-- TODO coonfigurable labels -->
    </button>
    
  </div>
  <div class="mode-option">
    <button (click)="start('')">
      <label>I have switched my speakers on 🔊</label>
    </button>
  </div>
</div>
